HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### OS Junk Files (Basura del sistema operativo) ###
.DS_Store
Thumbs.db

### Logs ###
*.log
logs/

### Security & Local Config (¡IMPORTANTE!) ###
# Ignoramos la configuración real con las claves secretas
src/main/resources/application.yml

# Si tu docker-compose crea carpetas de datos locales, ignóralas también
postgres-data/
pgadmin-data/
